<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Define la cadena de conexión para conectar la base de datos -->
		<add  name="NWConnection" 
			  connectionString="Data Source=DESKTOP-O6CMB76\\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;"
			  providerName="System.Data.SqlClient"
			  />
	</connectionStrings>
	
	
</configuration>